._sec.on h2::before {
    opacity: 1;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 100rem;
    background: #282B91;

    color: #fafafa;
    z-index: 999;
}

.header .ham_btn {
    display: none;
}

.header .h_top {
    background: linear-gradient(-90deg, #1C1F6B 30%, #282B91 70%);
}

.header .header_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.header .h_top .header_wrap>span {
    font-size: 14rem;
}

.header .h_top .header_wrap>ul {
    display: flex;
}

.header .h_top .header_wrap>ul>li {
    line-height: 23rem;
    margin: 0 0 0 24rem;
}

.header .h_top i {
    font-size: 14rem;
}

.header .h_top .ticket {
    font-size: 20rem;
    position: relative;
    margin: 0 28rem 0 0;
}

.header .h_top .ticket small {
    position: absolute;
    top: 50%;
    right: -20rem;
    transform: translate(0, -50%);
    font-size: 14rem;
    color: #FFB936;
}

.header .lang {
    position: relative;
    cursor: pointer;
}

.header .lang .language {
    display: none;
    position: absolute;
    left: 0;
    background: #fff;
    width: 100rem;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.header .lang.on .language {
    display: block;
}

.header .lang span {
    display: block;
    line-height: 32rem;
    color: #222;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
}



.header .h_bottom {
    border-bottom: 1px solid #414481;
}

.header .h_bottom .header_wrap {
    background: #282B91;
    justify-content: space-between;
}

.header .h_bottom h1 {
    align-items: inherit;
    padding: 0 0 16rem 0;
    width: 120rem;
}

.header .gnb>ul {
    display: flex;
}

.header .gnb>ul>li {
    display: block;
    font-size: 18rem;
    line-height: 76rem;
    font-weight: 600;
    padding: 0 20rem;
    cursor: pointer;
}

.header .gnb>ul>li.st {
    background: #FFB936;
    height: 100%;
    color: #222;
    user-select: none;
}

.header .gnb>ul>li:hover .sub {
    visibility: visible;
    transform: translate(0, 0);
    transition: 0.8s;
}

.header .gnb .sub {
    visibility: hidden;
    position: absolute;
    display: flex;
    gap: 60rem;
    top: 100rem;
    left: 40%;
    transform: translate(0, -16rem);
    padding: 16rem 40rem 32rem;
    background: #fff;
    color: #222;
    z-index: 1;
    border: 1px solid #eee;
}


.header .gnb .sub>li {
    position: relative;
    font-size: 18rem;
    font-weight: 600;
    line-height: 50rem;
}

.header .gnb .sub>li::after {
    content: "";
    position: absolute;
    top: 26rem;
    z-index: -1;
    left: 0;
    background: #FFB936;
    width: 100%;
    height: 10rem;
}

.header .gnb .sub>li~li::before {
    content: "";
    position: absolute;
    top: 20%;
    left: -30rem;
    width: 1px;
    height: 80%;
    background: #eee;
}

.header .gnb .sub>li a {
    display: block;
    font-size: 16rem;
    line-height: 28rem;
    font-weight: 400;
    position: relative;
}

.header .gnb .sub>li a:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #FFB936;
}

@media (max-width: 890px) {
    .header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        height: 100rem;
        background: #282B91;

        color: #fafafa;
        z-index: 999;
    }

    .header .ham_btn {
        position: absolute;
        top: 40rem;
        right: 15rem;
        display: block;
        cursor: pointer;
    }

    .header .h_top {
        background: linear-gradient(-90deg, #1C1F6B 30%, #282B91 70%);
    }

    .header .header_wrap {
        display: flex;
        align-items: center;

        /* 000 */
        justify-content: center;

    }

    .header .h_top .header_wrap>span {
        font-size: 14rem;


        /* 000 */
        line-height: 30rem;
    }

    .header .h_top .header_wrap>ul {
        /* 000 */
        display: none;
        flex-direction: column;
        gap: 10rem;
        position: absolute;
        top: 370rem;
        left: -5rem;
        z-index: 999;
    }

    .header .h_top .header_wrap>ul>li {
        line-height: 23rem;
        margin: 0 0 0 24rem;
    }

    .header .h_top i {
        font-size: 14rem;
    }

    .header .h_top .ticket {
        font-size: 20rem;
        position: relative;
        margin: 0 28rem 0 0;
    }

    .header .h_top .ticket small {
        position: absolute;
        top: 50%;
        right: -20rem;
        transform: translate(0, -50%);
        font-size: 14rem;
        color: #FFB936;
    }

    .header .h_bottom {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
    }

    .header .h_bottom .header_wrap {
        background: #282B91;
        justify-content: space-between;
    }

    .header .h_bottom h1 {
        align-items: inherit;
        padding: 0 0 16rem 0;
        width: 120rem;
        z-index: 1000;

        position: absolute;
        top: 50%;
        left: 15rem;
        transform: translate(0, -8rem);
    }



    .header .h_bottom.on .gnb {
        left: 0;
    }

    .header .gnb {
        position: fixed;

        /* 000 */
        background: #282B91;
        left: -100%;
        top: 100rem;
        width: 100%;
        height: 100vh;
    }

    .header .gnb>ul {
        flex-direction: column;
    }

    .header .gnb>ul>li {
        display: block;
        font-weight: 600;
        padding: 0 20rem;
        cursor: pointer;

        /* 000 */
        font-size: 16rem;
        line-height: 50rem;
    }

    .header .gnb>ul>li~li {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .header .gnb>ul>li.st {
        background: #FFB936;
        height: 100%;
        color: #222;
        user-select: none;
    }

    .header .gnb>ul>li:hover .sub {
        visibility: hidden;
        transform: translate(0, 0);
        transition: 0;
    }

    .header .gnb .sub.on {
        visibility: visible;
    }

    .header .gnb .sub {
        position: absolute;

        gap: 60rem;
        left: 0;
        background: #fff;
        color: #222;
        z-index: 1;
        border: 1px solid #eee;


        /* 000 */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transform: translate(0, 0);
        visibility: hidden;
        top: 0;
        width: auto;
        padding: 0 auto 0 24rem;
    }


    .header .gnb .sub>li {
        position: relative;
        display: inline-block;
        font-size: 18rem;
        font-weight: 600;
        line-height: 50rem;
    }

    .header .gnb .sub>li::after {
        content: "";
        position: absolute;
        top: 26rem;
        z-index: -1;
        left: 0;
        background: #FFB936;
        width: 100%;
        height: 10rem;
    }

    .header .gnb .sub>li~li::before {
        display: none;
    }

    .header .gnb .sub>li a {
        display: block;
        font-size: 16rem;
        line-height: 28rem;
        font-weight: 400;
        position: relative;
    }

    .header .gnb .sub>li a:hover::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -10rem;
        transform: translate(0, -50%);
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: #FFB936;
    }
}




.main_vi .main_slide {
    overflow: hidden;
}

.main_vi .main_slide .itm {
    height: calc(760rem - 100rem);
}

.main_vi .main_slide .itm01 {
    background: url(../images/main_vi01.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm02 {
    background: url(../images/main_vi02.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm03 {
    background: url(../images/main_vi03.jpg) no-repeat center bottom/cover;
}

.main_vi .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.main_vi .slogan h2 {
    font-size: 70rem;
    font-weight: 900;
    margin: 0 0 16rem 0;
    text-shadow: 0 0 20rem rgba(0, 0, 0, 0.5);
}

.main_vi .slogan p {
    font-size: 18rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 48rem 0;
    text-shadow: 0 0 20rem rgba(0, 0, 0, 0.8);
}

.main_vi .slogan a {
    padding: 12rem 40rem;
    color: #222;
    font-weight: 600;
    background: #fff;
    border-radius: 8rem;
    transition: 0.3s;
}

.main_vi .slogan a:hover {
    background: #FFB936;
}

@media (max-width: 768px) {
    .main_vi .main_slide .itm {
        height: calc(600rem - 100rem);
    }
    
    .main_vi .main_slide .itm01 {
        background: url(../images/main_vi01.jpg) no-repeat right center/cover;
    }
    
    .main_vi .main_slide .itm02 {
        background: url(../images/main_vi02.jpg) no-repeat center center/cover;
    }
    
    .main_vi .main_slide .itm03 {
        background: url(../images/main_vi03.jpg) no-repeat left bottom/cover;
    }

    
    .main_vi .slogan h2 {
        font-size: 56rem;
        margin: 0 0 8rem 0;
    }
    
    .main_vi .slogan p {
        font-size: 16rem;
        font-weight: 500;
        margin: 0 0 40rem 0;
    }
    
    .main_vi .slogan a {
        font-weight: 600;
    }
    
    .main_vi .slogan a:hover {
        background: #fff;
    }
}

.main_qui {
    position: relative;
    margin: -56rem 0 0 0;
    z-index: 90;
    color: #fafafa;
}

.main_qui::before {
    height: 140rem;
    content: "";
    position: absolute;
    background: #282B91;
    width: 100%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.main_qui .material-symbols-outlined {
    font-size: 70rem;
    font-weight: 200;
}

.main_qui ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270rem, 1fr));
    align-items: center;
    height: 140rem;
    border-radius: 200rem;
    background: #282B91;
}

.main_qui ul li a {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.main_qui .txt_box strong {
    display: block;
    font-size: 24rem;
    font-weight: 600;
    margin: 0 0 8rem 0;
}

@media (max-width: 912px) {
    .main_qui {
        position: relative;
        margin: -56rem 0 0 0;
        z-index: 90;
        color: #fafafa;
    }
    
    .main_qui::before {
        height: 225rem;
        content: "";
        position: absolute;
        background: #282B91;
        width: 100%;
        transform: translate(-50%, 0);
        z-index: -1;
    }
    
    .main_qui .material-symbols-outlined {
        font-size: 40rem;
        font-weight: 200;
    }
    
    .main_qui ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270rem, 1fr));
        align-items: center;
        height: 225rem;
        border-radius: 0 260rem 260rem 0;
        background: #282B91;
    }
    
    .main_qui ul li a {
        display: flex;
        align-items: center;
        gap: 30rem;
    }
    
    .main_qui .txt_box strong {
        font-size: 18rem;
    }

    .main_qui .txt_box span {
        font-size: 14rem;
    }
}







.main_tik {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 90%, #f9f9f9 100%);
}

.main_tik .tik_wrap {
    display: grid;
    justify-content: center;
    gap: 30rem;
    grid-template-columns: repeat(auto-fit, minmax(270rem, 1fr));
}

@media (max-width: 616px) {
    .main_tik .tik_wrap {
        grid-template-columns: auto;
    }
}

@media (max-width: 916px) {
    .main_tik .tik_wrap {
        justify-content: center;
    }
}

.main_tik .tik_wrap figure {
    position: relative;
    height: 600rem;
    width: 270rem;
    overflow: hidden;
    border-radius: 8rem 8rem 0 0;
    transform: translate(50rem, 0);
}

.main_tik.on .tik_wrap figure {
    transform: translate(0, 0);
    transition: 2s;
}

.main_tik.on .tik_wrap figure:nth-child(2) {
    transform: translate(0, 0);
    transition: 2s 0.3s;
}

.main_tik.on .tik_wrap figure:nth-child(3) {
    transform: translate(0, 0);
    transition: 2s 0.6s;
}

.main_tik.on .tik_wrap figure:nth-child(4) {
    transform: translate(0, 0);
    transition: 2s 0.9s;
}

.main_tik .tik_wrap figure::before {
    content: "";
    position: absolute;
    bottom: -12rem;
    left: -12rem;
    width: 24rem;
    height: 24rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.main_tik .tik_wrap figure::after {
    content: "";
    position: absolute;
    bottom: -12rem;
    right: -12rem;
    width: 24rem;
    height: 24rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.main_tik .tik_wrap .itm01 {
    background: url(../images/main_tik01.jpg)no-repeat center center/cover;
}

.main_tik .tik_wrap .itm02 {
    background: url(../images/main_tik02.jpg)no-repeat center center/cover;
}

.main_tik .tik_wrap .itm03 {
    background: url(../images/main_tik03.jpg)no-repeat center center/cover;
}

.main_tik .tik_wrap .itm04 {
    background: url(../images/main_tik04.jpg)no-repeat center center/cover;
}

.main_tik .tik_wrap .btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
}


.main_tik .tik_wrap .btn::before {
    background: radial-gradient(#fff 49%, transparent 51%);
    background-position: center;
    background-repeat: space;
    background-size: 20rem 20rem;
    content: " ";
    display: block;
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: 20rem;
}

.main_tik figure .btn a {
    display: block;
    padding: 30rem 0 50rem 0;
    color: #fafafa;
    background: linear-gradient(0deg, transparent 0%, #000 60%);
}

.main_tik figure .txt_box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fafafa;
    width: 100%;
    padding: 40rem 15rem;
    background: linear-gradient(180deg, transparent 0%, #000 70%);
    text-align: center;
}

.main_tik figure .txt_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12rem;
    width: 24rem;
    height: 24rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.main_tik figure .txt_box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -12rem;
    width: 24rem;
    height: 24rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.main_tik figure .txt_box strong {
    display: block;
    font-size: 20rem;
    font-weight: 600;
    margin: 0 0 12rem 0;
}

.main_tik figure .txt_box strong::before {
    content: "";
    display: block;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    transform: translate(0, -30rem);
}

.main_tik figure .txt_box p {
    font-size: 14rem;
    font-weight: 300;
}

.main_tik figure .txt_box p::before {
    background: radial-gradient(#fff 45%, transparent 50%);
    background-position: center;
    background-repeat: space;
    background-size: 20rem 20rem;
    content: " ";
    display: block;
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    height: 20rem;
}





.main_wave .wave_slide {
    overflow: hidden;
}

.main_wave .itm {
    position: relative;
    width: 370rem;
    height: 400rem;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
    margin: 0 0 32rem 0;
}

.main_wave .itm01 {
    background: url(../images/main_wave01.png) no-repeat center center/cover;
}

.main_wave .itm02 {
    background: url(../images/main_wave02.png) no-repeat center center/cover;
}

.main_wave .itm03 {
    background: url(../images/main_wave03.png) no-repeat center center/cover;
}

.main_wave .itm04 {
    background: url(../images/main_wave04.png) no-repeat center center/cover;
}

.main_wave .itm05 {
    background: url(../images/main_wave05.png) no-repeat center center/cover;
}

.main_wave .itm06 {
    background: url(../images/main_wave06.png) no-repeat center center/cover;
}

.main_wave figure .wave {
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0.1;
    width: 600rem;
    height: 600rem;
    font-size: 0;

    transform-origin: 50% 49%;
    margin-left: -300rem;
    margin-bottom: -350rem;
    border-radius: 40%;
}

.main_wave figure .wave.wave01 {
    left: 40%;
    bottom: -15%;
    background: rgb(0, 140, 255);
    animation: drift 9000ms infinite linear;
}

.main_wave figure .wave.wave02 {
    right: 20%;
    bottom: -15%;
    background: rgb(123, 213, 255);
    animation: drift 4000ms infinite linear;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(-360deg);
    }
}

.main_wave figure .txt_box {
    position: relative;
}

.main_wave figure .txt_box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 1px;
    height: 40rem;
    background: #ddd;
}

.main_wave figure .txt_box strong {
    display: block;
    font-size: 20rem;
    font-weight: 600;
    margin: 0 0 8rem 0;
    padding: 0 0 0 15rem;
}

.main_wave figure .txt_box span {
    display: block;
    font-weight: 300;
    font-size: 14rem;
    padding: 0 0 0 15rem;
}

.main_wave figure .txt_box a {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14rem;
    padding: 0 15rem 0 0;
    border-right: 1px solid #ddd;
}






.main_bnn {
    position: relative;
}

.main_bnn .bnn_wrap {
    height: 600rem;
    background: url(../images/main_banner.jpg)no-repeat fixed center center/cover;
}

.main_bnn .bnn_wrap .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 2s;

    padding: 64rem 72rem;

    text-align: center;
    color: #fafafa;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    box-shadow: 0 8rem 32rem 0 rgba(31, 38, 135, 0.4);
    border-radius: 16rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.main_bnn.on .bnn_wrap .txt_box {
    transform: translate(-50%, -50%);
}

.main_bnn .bnn_wrap .txt_box h2 {
    font-size: 32rem;
    font-weight: 700;
    margin: 0 0 8rem 0;
}

.main_bnn .bnn_wrap .txt_box p {
    font-weight: 500;
    margin: 0 0 40rem 0;
}

.main_bnn .bnn_wrap .txt_box button {
    background: #fff;
    font-size: 16rem;
    font-weight: 500;
    width: 200rem;
    border-radius: 8rem;
}

.main_bnn .bnn_wrap .txt_box button a {
    display: block;
    font-size: 14rem;
    width: 100%;
    line-height: 40rem;
}




.main_show {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 90%, #f9f9f9 100%);
}

.main_show .tab_menu {
    display: flex;
    justify-content: center;
    gap: 30rem;
    background: #282B91;
    user-select: none;
}

.main_show .tab_menu li {
    position: relative;
    color: #fafafa;
    line-height: 48rem;
    cursor: pointer;
    font-weight: 600;
}

.main_show .tab_menu li.on {
    color: #FFB936;
}

.main_show .tab_menu li:hover {
    color: #FFB936;
}

.main_show .tab_menu li~li::before {
    content: "";
    position: absolute;
    left: -15rem;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 10rem;
    background: #414481;
}

.main_show .con {
    display: none;
}

.main_show .con.on {
    display: block;
}

.main_show .con_wrap {
    display: flex;
}

.main_show .con_wrap>* {
    flex: 1;
}

.main_show .movie_box {
    position: relative;
    padding: 0 0 56.25% 0;
    background: #fff;
}

.main_show .movie_box iframe {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
}

.main_show .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_show .info_box {
    padding: 24rem;
}

.main_show .info .txt_box {
    position: relative;
    margin: 0 0 20rem 0;
    padding: 0 0 20rem 0;
}

.main_show .info .txt_box::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #eee;
}

.main_show .info .txt_box strong {
    display: block;
    font-size: 20rem;
    font-weight: 700;
    margin: 0 0 8rem 0;
}

.main_show .info .txt_box span {
    font-size: 14rem;
    font-weight: 300;
}

.main_show .info ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 20rem 0;
}

.main_show .info ul li {
    position: relative;
    line-height: 24rem;
    padding: 0 0 0 12rem;
}

.main_show .info ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 5rem;
    height: 5rem;
    background: #282B91;
}

.main_show .info p {
    font-size: 12rem;
    font-weight: 300;
    color: #999;
}

.main_show .info button {
    width: 100%;
    background: #282B91;
    justify-content: flex-end;
    color: #fff;
    transition: 0.3s;
}

.main_show .info button:hover {
    background: #FFB936;
    color: #222;
}

.main_show .info button a {
    display: block;
    line-height: 48rem;
    font-size: 14rem;
}

@media (max-width: 768px) {
    .main_show {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 90%, #f9f9f9 100%);
    }
    
    .main_show .tab_menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        justify-content: center;
        text-align: center;
        gap: 0;
        background: #282B91;
        user-select: none;

        margin: 0 0 16rem 0;
    }
    
    .main_show .tab_menu li {
        position: relative;
        color: #fafafa;
        line-height: 40rem;
        cursor: pointer;
        font-weight: 600;

        border-bottom: 1px solid #414481;
    }

    .main_show .tab_menu li:nth-child(5) {
        grid-column: 1/3;
    }
    
    .main_show .tab_menu li.on {
        color: #FFB936;
    }
    
    .main_show .tab_menu li:hover {
        color: #fafafa;
    }
    
    .main_show .tab_menu li~li::before {
        display: none;
    }
    
    .main_show .con {
        display: none;
    }
    
    .main_show .con.on {
        display: block;
    }
    
    .main_show .con_wrap {
        display: flex;

        /* 000 */
        flex-direction: column;
    }
    
    .main_show .con_wrap>* {
        flex: 1;
    }
    
    .main_show .movie_box {
        position: relative;
        padding: 0 0 56.25% 0;
        background: #fff;
    }
    
    .main_show .movie_box iframe {
        position: absolute;
        inset: 0 0 0 0;
        width: 100%;
        height: 100%;
    }
    
    .main_show .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .main_show .info_box {
        padding: 24rem;
    }
    
    .main_show .info .txt_box {
        position: relative;
        margin: 0 0 20rem 0;
        padding: 0 0 20rem 0;
    }
    
    .main_show .info .txt_box::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #eee;
    }
    
    .main_show .info .txt_box strong {
        display: block;
        font-size: 20rem;
        font-weight: 700;
        margin: 0 0 8rem 0;
    }
    
    .main_show .info .txt_box span {
        font-size: 14rem;
        font-weight: 300;
    }
    
    .main_show .info ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 0 20rem 0;
    }
    
    .main_show .info ul li {
        position: relative;
        line-height: 24rem;
        padding: 0 0 0 12rem;
    }
    
    .main_show .info ul li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 5rem;
        height: 5rem;
        background: #282B91;
    }
    
    .main_show .info p {
        font-size: 12rem;
        font-weight: 300;
        color: #999;
    }
    
    .main_show .info button {
        width: 100%;
        background: #282B91;
        justify-content: flex-end;
        color: #fff;
        transition: 0.3s;
    }
    
    .main_show .info button:hover {
        background: #FFB936;
        color: #222;
    }
    
    .main_show .info button a {
        display: block;
        line-height: 48rem;
        font-size: 14rem;
    }
}



.footer {
    padding: 30rem 0 50rem 0;
    background: #eee;
}

.footer .f_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20rem 0;
    border-bottom: 1px solid #ddd;
}

.footer .f_top span {
    margin: 0 16rem 0 0;
    line-height: 40rem;
}

.footer .f_top span a {
    color: #222;
    font-weight: 600;
}

.footer .f_top .sns {
    display: flex;
    gap: 16rem;
}

.footer .f_top .sns a {
    font-size: 20rem;
    transition: 0.6s;
}

.footer .f_bottom {
    display: flex;
    justify-content: space-between;
}

.footer .f_bottom .addr {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

@media (max-width: 768px) {
    .footer .f_top {
        flex-direction: column;
        justify-content: center;
        padding: 0 0 20rem 0;
    }

    .footer .f_top .sns {
        gap: 32rem;
    }

    .footer .f_top .sns a:hover {
        color: #666;
    }

    .footer .f_bottom .img_box {
        display: none;
    }
}