.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 100rem;
    background: #282B91;

    color: #fafafa;
    z-index: 999;
}

.header .h_top {
    background: linear-gradient(-90deg, #1C1F6B 30%, #282B91 70%);
}

.header .header_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.header .h_top .header_wrap>span {
    font-size: 14rem;
}

.header .h_top .header_wrap>ul {
    display: flex;
}

.header .h_top .header_wrap>ul>li {
    line-height: 23rem;
    margin: 0 0 0 24rem;
}

.header .h_top i {
    font-size: 14rem;
}

.header .h_top .ticket {
    font-size: 20rem;
    position: relative;
    margin: 0 28rem 0 0;
}

.header .h_top .ticket small {
    position: absolute;
    top: 50%;
    right: -20rem;
    transform: translate(0, -50%);
    font-size: 14rem;
    color: #FFB936;
}

.header .h_bottom {
    border-bottom: 1px solid #fff;
}

.header .h_bottom .header_wrap {
    background: #282B91;
    justify-content: space-between;
}

.header .h_bottom h1 {
    align-items: inherit;
    padding: 0 0 16rem 0;
    width: 120rem;
}

.header .gnb>ul {
    display: flex;
}

.header .gnb>ul>li {
    display: block;
    font-size: 18rem;
    line-height: 76rem;
    font-weight: 600;
    padding: 0 20rem;
    cursor: pointer;
}

.header .gnb>ul>li.st {
    background: #FFB936;
    height: 100%;
    color: #222;
    user-select: none;
}

.header .gnb>ul>li:hover .sub {
    visibility: visible;
    transform: translate(0, 0);
    transition: 0.8s;
}

.header .gnb .sub {
    visibility: hidden;
    position: absolute;
    display: flex;
    gap: 60rem;
    top: 100rem;
    left: 40%;
    transform: translate(0, -16rem);
    padding: 16rem 40rem 32rem;
    background: #fff;
    color: #222;
    z-index: 1;
    border: 1px solid #eee;
}


.header .gnb .sub>li {
    position: relative;
    font-size: 18rem;
    font-weight: 600;
    line-height: 50rem;
}

.header .gnb .sub>li::after {
    content: "";
    position: absolute;
    top: 26rem;
    z-index: -1;
    left: 0;
    background: #FFB936;
    width: 100%;
    height: 10rem;
}

.header .gnb .sub>li~li::before {
    content: "";
    position: absolute;
    top: 20%;
    left: -30rem;
    width: 1px;
    height: 80%;
    background: #eee;
}

.header .gnb .sub>li a {
    display: block;
    font-size: 16rem;
    line-height: 28rem;
    font-weight: 400;
    position: relative;
}

.header .gnb .sub>li a:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #FFB936;
}








.main_vi .main_slide .itm {
    height: calc(100vh - 100rem);
}

.main_vi .main_slide .itm01 {
    background: url(../images/main_vi01.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm02 {
    background: url(../images/main_vi02.jpg) no-repeat center center/cover;
}

.main_vi .main_slide .itm03 {
    background: url(../images/main_vi03.jpg) no-repeat center bottom/cover;
}

.main_vi .main_slide .itm04 {
    background: url(../images/main_vi04.jpg) no-repeat center center/cover;
}





.main_qui {
    position: relative;
    margin: -56rem 0 0 0;
    z-index: 90;
    color: #fafafa;
}

.main_qui::before {
    height: 140rem;
    content: "";
    position: absolute;
    background: #282B91;
    width: 100%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.main_qui .material-symbols-outlined {
    font-size: 70rem;
    font-weight: 200;
}

.main_qui ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    align-items: center;
    height: 140rem;
    border-radius: 200rem;
    background: #282B91;
}

.main_qui ul li a {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.main_qui .txt_box strong {
    display: block;
    font-size: 24rem;
    font-weight: 600;
    margin: 0 0 8rem 0;
}









.main_tik {
    padding: 100rem 0;
}

.main_tik .tit {
    margin: 0 0 40rem 0;
    text-align: center;
}

.main_tik .tit h2 {
    position: relative;
    display: inline-block;
    font-size: 32rem;
    font-weight: 600;
    margin: 0 0 12rem 0;
}

.main_tik .tit h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -2px;
    z-index: -1;
    width: 100%;
    height: 12rem;
    background: #FFB936;
}

.main_tik .tik_wrap {
    display: grid;
    gap: 30rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.main_tik .tik_wrap figure {
    position: relative;
    height: 600rem;
    width: 270rem;
    overflow: hidden;
    border-radius: 8rem 8rem 0 0;
    transform: translate(0, 100rem);
}

.main_tik.on .tik_wrap figure {
    transform: translate(0, 0);
    transition: 2s;
}
.main_tik.on .tik_wrap figure:nth-child(2) {
    transform: translate(0, 0);
    transition: 2s 0.3s;
}
.main_tik.on .tik_wrap figure:nth-child(3) {
    transform: translate(0, 0);
    transition: 2s 0.6s;
}
.main_tik.on .tik_wrap figure:nth-child(4) {
    transform: translate(0, 0);
    transition: 2s 0.9s;
}

.main_tik .tik_wrap figure::before {
    content: "";
    position: absolute;
    bottom: -12rem;
    left: -12rem;
    width: 24rem;
    height: 24rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.main_tik .tik_wrap figure::after {
    content: "";
    position: absolute;
    bottom: -12rem;
    right: -12rem;
    width: 24rem;
    height: 24rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.main_tik .tik_wrap .itm01 {
    background: url(../images/main_tik01.jpg)no-repeat center center/cover;
}

.main_tik .tik_wrap .itm02 {
    background: url(../images/main_tik02.jpg)no-repeat center center/cover;
}

.main_tik .tik_wrap .itm03 {
    background: url(../images/main_tik03.jpg)no-repeat center center/cover;
}

.main_tik .tik_wrap .itm04 {
    background: url(../images/main_tik04.jpg)no-repeat center center/cover;
}

.main_tik .tik_wrap .btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
}


.main_tik .tik_wrap .btn::before {
    background: radial-gradient(#fff 49%, transparent 51%);
    background-position: center;
    background-repeat: space;
    background-size: 20rem 20rem;
    content: " ";
    display: block;
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: 20rem;
}

.main_tik figure .btn a {
    display: block;
    line-height: 56rem;
    color: #fafafa;
    background: #000;
}

.main_tik figure .txt_box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fafafa;
    width: 100%;
    padding: 40rem 15rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 69.79%);
    text-align: center;
}

.main_tik figure .txt_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12rem;
    width: 24rem;
    height: 24rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.main_tik figure .txt_box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -12rem;
    width: 24rem;
    height: 24rem;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.main_tik figure .txt_box strong {
    display: block;
    font-size: 20rem;
    font-weight: 600;
    margin: 0 0 12rem 0;
}

.main_tik figure .txt_box strong::before {
    content: "";
    display: block;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    transform: translate(0, -30rem);
}

.main_tik figure .txt_box p {
    font-size: 14rem;
    font-weight: 300;
}

.main_tik figure .txt_box p::before {
    background: radial-gradient(#fff 45%, transparent 50%);
    background-position: center;
    background-repeat: space;
    background-size: 20rem 20rem;
    content: " ";
    display: block;
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    height: 20rem;
}





.main_bnn {
    position: relative;
}

.main_bnn .bnn_wrap {
    height: 720rem;
    background: url(../images/main_banner.jpg)no-repeat fixed center center/cover;
}

.main_bnn .bnn_wrap .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 2s;
    
    padding: 64rem 72rem;

    text-align: center;
    color: #fafafa;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
    border-radius: 16px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.main_bnn.on .bnn_wrap .txt_box {
    transform: translate(-50%, -50%);
}

.main_bnn .bnn_wrap .txt_box h2 {
    font-size: 32rem;
    font-weight: 700;
    margin: 0 0 8rem 0;
}

.main_bnn .bnn_wrap .txt_box p {
    font-weight: 500;
    margin: 0 0 40rem 0;
}

.main_bnn .bnn_wrap .txt_box button {
    background: #fff;
    font-size: 16rem;
    font-weight: 500;
    width: 200rem;
    border-radius: 8rem;
}

.main_bnn .bnn_wrap .txt_box button a {
    display: block;
    width: 100%;
    line-height: 40rem;
}